<div class="title">
  <i class="icon icon-logo m-r-5"></i>
  <span>Zhannur</span>
</div>

<div class="links">
  <a class="active m-r-15">
    <span class="m-r-1">#</span>
    <span>home</span>
  </a>
  <a class="m-r-15">
    <span class="m-r-1">#</span>
    <span>works</span>
  </a>
  <a class="m-r-15">
    <span class="m-r-1">#</span>
    <span>about-me</span>
  </a>
  <a class="m-r-15">
    <span class="m-r-1">#</span>
    <span>contacts</span>
  </a>

  <app-language-select></app-language-select>
</div>
