:host::ng-deep {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.title {
  color: #fff;
  font-size: 16px;
}

.links {
  display: flex;
  align-items: center;
  & > a  {
    cursor: pointer;
    &.active {
      color: #ffffff;
    }
    color: #ABB2BF;

    & > span:first-child {
      color: #C778DD;

    }
  }
}

@media screen and (max-width: 600px) {
  .links {
    display: none;
  }
}
