:host::ng-deep {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.title {
  color: #fff;
  font-size: 16px;
}

.links {
  & > a  {
    &.active {
      color: #ffffff;
    }
    color: #ABB2BF;

    & > span:first-child {
      color: #C778DD;

    }
  }
}
